* {
    padding: 0px;
    margin: 0px;
}

.sadrzaj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {

    font-family: 'Arial', sans-serif;
    background-color: #00312f;
    margin: 4vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Georgia', serif;
    color: white;
    margin-top: 2vh;
    margin-bottom: 1vw;
}

.split {
    display: flex;
    justify-content: space-between;
}

.neuronska {
    max-width: 40vw;
    text-align: justify;
}

a {
    color: #2980b9;
    text-decoration: none;
}

p {
    color: white;
    max-width: 70vw;
    font-size: large;
    text-align: center;
}

#Naslovnica {
    font-family: 'Georgia', serif;
    color: white;
    margin-top: 0vh;
    font-size: x-large;
}

nav a {
    justify-content: center;

    font-weight: bold;
    background-color: #2c3e50;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-radius: 2vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh;
    margin-bottom: 4vh;
}

ul {
    color: white;
    margin-left: 4vw;
    margin-top: 1vh;
    font-size: large;
    max-width: 60vw;
    text-align: justify;
}